@model Proyeto.GestionRepuestos.MVC.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó su contraseña?";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">@ViewBag.Title</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h5 class="mb-3">Especifique su correo electrónico.</h5>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="mb-3 row">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-4 col-md-8">
                                <input type="submit" class="btn btn-outline-dark" value="Vínculo de correo electrónico" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}