@model Proyeto.GestionRepuestos.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title mb-4 text-center">@ViewBag.Title</h2>
                    @if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
                    {
                        <div class="alert alert-success">@ViewBag.StatusMessage</div>
                    }
                    <h4 class="mb-3">Cambiar la configuración de la cuenta</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">Contraseña:</dt>
                        <dd class="col-sm-8">
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Cambiar la contraseña", "ChangePassword", null, new { @class = "btn btn-link p-0" })
                            }
                            else
                            {
                                @Html.ActionLink("Crear", "SetPassword", null, new { @class = "btn btn-link p-0" })
                            }
                            ]
                        </dd>
                        <dt class="col-sm-4">Número de teléfono:</dt>
                        <dd class="col-sm-8">
                            @(Model.PhoneNumber ?? "Ninguno")
                            @if (Model.PhoneNumber != null)
                            {
                                <br />
                                <span>
                                    [@Html.ActionLink("Cambiar", "AddPhoneNumber", null, new { @class = "btn btn-link p-0" })]
                                    @using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { role = "form", @class = "d-inline" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value="Quitar" class="btn btn-link p-0" />
                                    }
                                </span>
                            }
                            else
                            {
                                <span>
                                    [@Html.ActionLink("Agregar", "AddPhoneNumber", null, new { @class = "btn btn-link p-0" })]
                                </span>
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>