@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Editar Rol";
}
<h2>Editar Rol</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label for="name">Nombre del rol</label>
        @Html.TextBox("name", Model.Name, new { @class = "form-control", required = "required" })
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
}
@Html.ValidationSummary()